@font-face{
     font-family: "Arka";
     src: url('Fonts/Arka.ttf) format('truetype'),
      font-weight: normal;
      font-style:normal;
}
@font-face{
     font-family: "Lemon";
     src: url('Fonts/lemon-regular.ttf) format('truetype'),
      font-weight: normal;
      font-style:normal;
}
