@font-face{
     font-family: "Arka";
     src: url('ruta/carpetas/fuente.ttf) format('truetype'),
      font-weight: normal;
      font-style:normal;
}
@font-face{
     font-family: "Fortnite";
     src: url('ruta/carpetas/fuente.ttf) format('truetype'),
      font-weight: normal;
      font-style:normal;
}
